<div data-role="page">
	<div data-role="header">
		<h1>Salas de Ensayo :: Home</h1>
		<% if current_user %>
			<%= link_to "Cerrar Sesión", signout_path, "data-role" => "button", "data-icon" => "star", "data-theme" => "b", "data-ajax" => "false", "class" => "ui-btn-right" %>
		<% end %>
	</div><!-- /header -->
	<div data-role="content">
		<% if current_user %>
			Bienvenido!
			<%= link_to "List View", "/listview", "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "right", "data-ajax" => "false" %>
			<%= link_to "Map View", "/mapview", "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "right", "data-ajax" => "false" %>
			<%= link_to "Buscador", "/search", "data-role" => "button", "data-icon" => "arrow-r", "data-iconpos" => "right", "data-ajax" => "false" %>
		<% else %>
			<%= link_to "Ingresar con Twitter", "/auth/twitter", "data-role" => "button", "data-icon" => "star", "data-ajax" => "false" %>
		<% end %>
	</div><!-- /content -->
</div><!-- /page -->