<% content_for :header do %>
  <%= link_to 'Back', "/", "data-icon" => "back", "data-theme" => "b" %>
  <h1>Map View</h1>
<% end %>
<% if @salas.count > 0 %>
<div class="map_content">
  <div id="map_canvas"></div>
</div>
<% else %>
<div class="ui-bar ui-bar-e">
	<h3 style="float:left; margin-top:8px;">No se encontraron salas.</h3>
	<p style="clear:both; font-size:85%; margin-bottom:8px;">
		Prueba ingrsando a la opción 'List View' del Home de la aplicación.
	</p>
</div>
<% end %>
<% if @salas.count > 0 %>
<script type="text/javascript">
  var GMaps = google.maps;
  var map, infowindow;

  function setupMap(mapLatlng, mapZoom, showOverviewControl) {
    var myOptions = {
      scrollwheel: false,
      zoom: mapZoom,
      center: mapLatlng,
      mapTypeId: GMaps.MapTypeId.ROADMAP,
      overviewMapControl: showOverviewControl,
			scaleControl : true,
      zoomControl: true,
      zoomControlOptions: {
        style: GMaps.ZoomControlStyle.SMALL,
        position: GMaps.ControlPosition.LEFT_TOP
      },
			navigationControlOptions : {
				position : GMaps.ControlPosition.RIGHT
			}
    };
    map = new GMaps.Map(document.getElementById("map_canvas"), myOptions);
  }

	function createMarkers() {
		<% @salas.each do |sala| %>
    var markerLatlng = new GMaps.LatLng("<%= sala.lat %>", "<%= sala.lng %>");
    var infoMarker = createMarker(markerLatlng, "<%= sala.nombre %>");
    var infoContent = "<div class='infowindow'>" + 
		                    "<h3><%= sala.nombre %></h3>" + 
		                    "<p><b>Dirección:</b> <%= sala.direccion %></p>" + 
		                    "<p><b>Teléfono:</b> <%= sala.telefono %></p>" + 
		                    "<p><b>E-mail:</b> <%= sala.email %></p>" + 
		                  "</div>";
    createInfoWindow(infoMarker, infoContent);
    <% end %>
	}

  function createMarker(markerLatlng, markerTitle) {
    var marker = new GMaps.Marker({
      position: markerLatlng, 
      map: map,
      title: markerTitle
    });
    marker.setAnimation(GMaps.Animation.DROP);
    return marker;
  }

  function createInfoWindow(infoMarker, infoContent) {
		infoMarker.infowindow = new GMaps.InfoWindow({
			content : infoContent
		});
		GMaps.event.addListener(infoMarker, 'click', function() {
			if(infowindow != null) {
				infowindow.close();
			}
			infoMarker.infowindow.open(map, infoMarker);
			infowindow = infoMarker.infowindow;
		});
  }

  function initialize() {
    var lat = "-12.00842782682728";
    var lng = "-77.02789306640625";
    var myLatlng = new GMaps.LatLng(lat, lng);
    setupMap(myLatlng, 12, true);
		createMarkers();
  }

  // Initialize the map when the jQuery Mobile pageshow event is triggered
  $('.details-page').live("pageshow", function() {
  	<% if @salas.count > 0 %>
    if (map == null) {
      initialize();
    }
    <% end %>
  });
</script>
<% end %>