<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>
<div id="details" data-role="page" class="details-page">
  <div data-role="header">
    <%= link_to 'Back', salas_path, "data-icon" => "back", "data-theme" => "b", "data-ajax" => "false" %>
    <h1><%= @sala.nombre %></h1>
    <%= link_to 'Edit', edit_sala_path, "data-icon" => "gear", "data-ajax" => "false" %>
  </div><!-- /header -->

  <div><!-- /Recomendar -->
  <% if Vote.where(:voter_id => current_user.id, :voteable_id => @sala.id, ).count > 0 %>
    <div data-role="button", data-inline="true">
    <% if Vote.where(:voteable_id => @sala.id).count > 1 %>
        <%= Vote.where(:voteable_id => @sala.id).count %> personas lo recomiendan
    <%else%>
        Tu lo recomiendas
    <% end %>
    </div>
  <% else %>
    <%= link_to 'Recomendar', like_sala_path(@sala), :method => :sala, "data-role" => "button", "data-icon" => "plus", "data-inline" => "true", "data-theme" => "b"%>
    <div data-role="button", data-inline="true"> <%= Vote.where(:voteable_id => @sala.id).count %> personas lo recomiendan </div>
  <% end %>
  </div>
  
  <div data-role="content" class="map_content">
    <ul data-role="listview">
      <p id="notice"><%= notice %></p>
      <p>
        <b>Direccion:</b>
        <%= @sala.direccion %>
      </p>
      <p>
        <b>Telefono:</b>
        <%= @sala.telefono %>
      </p>
      <p>
        <b>Email:</b>
        <%= @sala.email %>
      </p>
      <p>
        <b>Costo:</b>
        <%= @sala.costo %>
      </p>

      <p><strong>Instrumentos:</strong></p>
      <ul>
      <% @sala.instrumentos.each do |instrumento| %>
          <li><p><%= instrumento.nombre %></p></li>
      <%end%>
      </ul>
    </ul>
    <div class="map_content">
      <div id="map_canvas"></div>
    </div>
  </div><!-- /content -->
</div><!-- /page -->
<script type="text/javascript">
  var GMaps = google.maps;
  var map, marker, infowindow;

  function setupMap(mapLatlng, mapZoom, showOverviewControl) {
    var myOptions = {
      scrollwheel: false,
      zoom: mapZoom,
      center: mapLatlng,
      mapTypeId: GMaps.MapTypeId.ROADMAP,
      overviewMapControl: showOverviewControl,
      scaleControl : true,
      zoomControl: true,
      zoomControlOptions: {
        style: GMaps.ZoomControlStyle.SMALL,
        position: GMaps.ControlPosition.LEFT_TOP
      },
      navigationControlOptions : {
        position : GMaps.ControlPosition.RIGHT
      }
    };
    map = new GMaps.Map(document.getElementById("map_canvas"), myOptions);
  }

  function createMarker(markerLatlng, markerTitle) {
    marker = new GMaps.Marker({
      position: markerLatlng, 
      map: map,
      title: markerTitle
    });
    marker.setAnimation(GMaps.Animation.DROP);
  }

  function createInfoWindow(infoContent) {
    infowindow = new GMaps.InfoWindow({
      content: infoContent
    });
    GMaps.event.addListener(marker, 'click', function() {
      infowindow.open(map, marker);
    });
    infowindow.open(map, marker);
  }

  function initialize() {
    var lat = "<%= @sala.lat %>";
    var lng = "<%= @sala.lng %>";
    var title = "<%= @sala.nombre %>";
    var content = "<div class='infowindow'>" + 
                    "<h3><%= @sala.nombre %></h3>" + 
                    "<p><b>Dirección:</b> <%= @sala.direccion %></p>" + 
                    "<p><b>Teléfono:</b> <%= @sala.telefono %></p>" + 
                    "<p><b>E-mail:</b> <%= @sala.email %></p>" + 
                  "</div>";
    var myLatlng = new GMaps.LatLng(lat, lng);
    setupMap(myLatlng, 15, true);
    createMarker(myLatlng, title);
    createInfoWindow(content);
  }

  // Initialize the map when the jQuery Mobile pageshow event is triggered
  $('.details-page').live("pageshow", function() {
    if (map == null) {
      initialize();
    }
  });
</script>