<!DOCTYPE html>
<html>
<head>
  <title>Salas de Ensayo</title>
  <meta name="viewport" content="width-device-width; initial-scale=1.0; maxium-scale=1.0;">
  <%= stylesheet_link_tag "application", :media => "all" %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css" />
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js"></script>
  <%= csrf_meta_tags %>



</head>
<body>

  <div data-role="header">
    <%= yield :header%>    
  </div><!-- /header -->

  <%= yield %>
</body>
</html>